h5 {
    font-size: 20px;
    font-weight: 500 !important;
    color: #47494b !important;
}

.row {
    justify-items: center;
    min-height: 65vh;
}

.btn-primary {
    background: #f36100 !important;
    border-color: #f36100 !important;
    border-radius: 15px !important;
    padding: 8px 20px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

button:hover {
    color: #47494b !important;
    background-color: #972d0b !important;
    border-color: #972d0b !important;
}

.btn-secondary {
    background-color: #e23434 !important;
    border-color: #dadada !important;
    color: #47494b !important;
    border-radius: 15px !important;
    padding: 8px 20px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-secondary:hover {
    color: #47494b !important;
    background-color: rgba(76, 76, 84, 0.2) !important;
    border-color: rgba(76, 76, 84, 0.2) !important;
}

.card {
    box-shadow: none !important;
}

label{
    color: #fff;
}

input{
    font-size: 16px !important;
    color: #fff !important;
}

input:focus {
    background-color: rgb(52, 50, 50);
    color: #fff;
    font-size: 14px;
}

form{
    border: 1px solid #282727 !important;
    border-radius: 10px;
    padding: 30px;
}

.pswd{
    padding-top: 120px;
}