<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('assets/img/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>BMI calculator</h2>
                    <div class="bt-option">
                        <a href="javascript:void(0)" (click)="navigateTo('home')">Home</a>
                        <span>BMI calculator</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- BMI Calculator Section Begin -->
<section class="bmi-calculator-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title chart-title">
                    <span>check your body</span>
                    <h2>BMI CALCULATOR CHART</h2>
                </div>
                <div class="chart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Bmi</th>
                                <th>WEIGHT STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'highlight': weightStatus === 'Underweight'}">
                                <td class="point" [ngClass]="{'highlight': weightStatus === 'Underweight'}">Below 18.5</td>
                                <td [ngClass]="{'highlight': weightStatus === 'Underweight'}">Underweight</td>
                            </tr>
                            <tr [ngClass]="{'highlight': weightStatus === 'Healthy'}">
                                <td class="point" [ngClass]="{'highlight': weightStatus === 'Healthy'}">18.5 - 24.9</td>
                                <td [ngClass]="{'highlight': weightStatus === 'Healthy'}">Healthy</td>
                            </tr>
                            <tr [ngClass]="{'highlight': weightStatus === 'Overweight'}">
                                <td class="point" [ngClass]="{'highlight': weightStatus === 'Overweight'}">25.0 - 29.9</td>
                                <td [ngClass]="{'highlight': weightStatus === 'Overweight'}">Overweight</td>
                            </tr>
                            <tr [ngClass]="{'highlight': weightStatus === 'Obese'}">
                                <td class="point" [ngClass]="{'highlight': weightStatus === 'Obese'}">30.0 - and Above</td>
                                <td [ngClass]="{'highlight': weightStatus === 'Obese'}">Obese</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title chart-calculate-title">
                    <span>check your body</span>
                    <h2>CALCULATE YOUR BMI</h2>
                </div>
                <div class="chart-calculate-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                        viverra maecenas accumsan lacus vel facilisis.</p>
                    <form [formGroup]="BMIForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="tel" placeholder="Height / cm" formControlName="height" minlength="3"
                                    maxlength="3">
                            </div>
                            <div class="col-sm-6">
                                <input type="tel" placeholder="Weight / kg" formControlName="weight" minlength="2"
                                    maxlength="3">
                            </div>
                            <div class="col-sm-6">
                                <input type="tel" placeholder="Age" formControlName="age" minlength="2" maxlength="2">
                            </div>
                            <div class="col-sm-6">
                                <select formControlName="sex" aria-placeholder="Choose Gender" class="w-100 h-75">
                                    <option value="" disabled selected class="text-center">Select Gender</option>
                                    <option value="male" class="text-center">Male</option>
                                    <option value="female" class="text-center">Female</option>
                                    <!-- <option value="">Other</option> -->
                                </select>
                                <!-- <input type="text" placeholder="Sex" formControlName="sex"> -->
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" (click)="calculateBMI()">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BMI Calculator Section End -->

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>125-711-811</li>
                        <li>125-668-886</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>Support.gymcenter@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->
<p-toast position="top-right"></p-toast>