h4 {
    font-size: 24px;
    font-weight: 400;
}

.p-input-icon-left {
    margin-top: -4px !important;
    padding: 10px 15px 10px 40px;
    border-radius: 0 !important;
    background-color: var(--white);
}

.p-input-icon-left i:first-of-type {
    left: 8px !important;
    color: #6c757d;
    padding-left: 6px;
}

.p-input-icon-left input {
    font-size: 14px !important;
    border: none;
    outline: none;
    background-color: var(--white);
}

table {
    thead th {
        font-size: 14px;
    }

    tbody th,
    tbody td {
        font-size: 14px;
    }

    tbody th button {
        width: 105px !important;
    }
}

tr th {
    font-size: 14px;
}

tr th,
tr td {
    font-size: 14px;
}

.btn-primary {
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    border-radius: 15px !important;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-primary:hover {
    color: var(--secondary-color) !important;
    background-color: rgba(75, 73, 172, 0.2) !important;
    border-color: rgba(75, 73, 172, 0) !important;
}

.btn-secondary {
    background-color: #dadada !important;
    border-color: #dadada !important;
    color: var(--secondary-color) !important;
    border-radius: 15px !important;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-secondary:hover {
    color: var(--secondary-color) !important;
    background-color: rgba(238, 234, 234, 0.75) !important;
    border-color: rgba(232, 232, 232, 0) !important;
}

.card {
    box-shadow: none !important;
}