<section>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-3 border-0">
                    <div class="card-header bg-white text-center p-3 px-0 mx-3">
                        <h5 class="m-0">Change Password</h5>
                    </div>
                    <div class="card-body p-3">
                        <form [formGroup]="adminChangePassword">
                            <div class="mb-3">
                                <div class="password">
                                    <label class="form-label">Current Password</label>
                                    <div class="input-group">
                                        <input [type]="password" class="form-control border-end-0 pe-0"
                                            formControlName="current_password" placeholder="Enter current password">
                                        <span class="input-group-text "><i class="fa fa-eye-slash  cursor-pointer"
                                                *ngIf="password == 'password'" (click)="password = 'text'"></i>
                                            <i class="fa fa-eye cursor-pointer" *ngIf="password == 'text'"
                                                (click)="password = 'password'"></i></span>
                                    </div>
                                    <div class="mb-2"
                                        *ngIf="adminChangePassword.controls['current_password'].hasError('required') && adminChangePassword.controls['current_password'].touched">
                                        <small class="fs-12 text-danger text-start">Please Enter Current Password*
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="password">
                                    <label class="form-label ">New Password</label>
                                    <div class="input-group">
                                        <input [type]="newpassword" class="form-control border-end-0 pe-0"
                                            formControlName="new_password" placeholder="Enter new password">
                                        <span class="input-group-text "><i class="fa fa-eye-slash cursor-pointer"
                                                *ngIf="newpassword == 'password'" (click)="newpassword = 'text'"></i>
                                            <i class="fa fa-eye cursor-pointer" *ngIf="newpassword == 'text'"
                                                (click)="newpassword = 'password'"></i></span>
                                    </div>
                                    <div class="mb-2"
                                        *ngIf="adminChangePassword.controls['new_password'].hasError('required') && adminChangePassword.controls['new_password'].touched">
                                        <small class="fs-12 text-danger text-start">Please Enter New Password*
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="password">
                                    <label class="form-label">Confirm Password</label>
                                    <div class="input-group">
                                        <input [type]="cnfpassword" class="form-control border-end-0 pe-0"
                                            formControlName="new_password_confirmation"
                                            placeholder="Confirm new password">
                                        <span class="input-group-text ">
                                            <i class="fa fa-eye-slash  cursor-pointer"
                                                *ngIf="cnfpassword == 'password'" (click)="cnfpassword = 'text'"></i>
                                            <i class="fa fa-eye cursor-pointer" *ngIf="cnfpassword == 'text'"
                                                (click)="cnfpassword = 'password'"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="mb-2"
                                    *ngIf="adminChangePassword.controls['new_password_confirmation'].hasError('required') && adminChangePassword.controls['new_password_confirmation'].touched">
                                    <small class="fs-12 text-danger text-start">Please Confirm password*
                                    </small>
                                </div>
                                <div class="mb-2"
                                    *ngIf="adminChangePassword.controls['new_password_confirmation'].value !='' && adminChangePassword.controls['new_password'].value !='' && adminChangePassword.controls['new_password_confirmation'].value !== adminChangePassword.controls['new_password'].value && adminChangePassword.controls['new_password_confirmation'].touched">
                                    <small class="fs-12 text-danger text-start">Password does not match with*
                                        new password
                                    </small>
                                </div>
                                <div class="mb-2"
                                    *ngIf="adminChangePassword.controls['new_password_confirmation'].value !='' && adminChangePassword.controls['new_password'].value =='' &&adminChangePassword.controls['new_password_confirmation'].dirty">
                                    <small class="fs-12 text-danger text-start">Please fill new password first*
                                    </small>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <button class="btn btn-primary" [disabled]="adminChangePassword.invalid"
                                    (click)="changePassword()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>