<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('assets/img/breadcrumb-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Contact Us</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="javascript:void(0)">Pages</a>
                        <span>Contact us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title contact-title">
                    <span>Contact Us</span>
                    <h2>GET IN TOUCH</h2>
                </div>
                <div class="contact-widget">
                    <div class="cw-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                    </div>
                    <div class="cw-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                    <div class="cw-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="leave-comment">
                    <form [formGroup]="ContactForm">
                        <div class="mb-4">
                            <input type="text" placeholder="Name" formControlName="name" (input)="onInput($event)" class="mb-0">
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['name'].hasError('required') && ContactForm.controls['name'].touched">Please
                            Enter Your Name*</small>
                        </div>
                        <div class="mb-4">
                            <input type="email" placeholder="Email" formControlName="email" class="mb-0">
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['email'].hasError('pattern') && (ContactForm.controls['email'].touched || ContactForm.controls['email'].dirty)">Please
                            Enter Valid Email ID*</small>
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['email'].hasError('required') && ContactForm.controls['email'].touched">Please
                            Enter Your Email Address*</small>
                        </div>
                        <div class="mb-4">
                            <input type="tel" placeholder="Mobile No" formControlName="mobile_no" minlength="10"
                            maxlength="10" (input)="onNumberInput($event)" class="mb-0">
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['mobile_no'].hasError('pattern') && (ContactForm.controls['mobile_no'].touched || ContactForm.controls['mobile_no'].dirty)">Please
                            Enter Valid Mobile Number*</small>
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['mobile_no'].hasError('required') && ContactForm.controls['mobile_no'].touched">Please
                            Enter Your Mobile Number*</small>
                        </div>
                        <div class="mb-4">
                            <input type="text" placeholder="Subject" formControlName="subject" class="mb-0">
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['subject'].hasError('required') && ContactForm.controls['subject'].touched">Please
                            Enter Your Subject*</small>
                        </div>
                        <div class="mb-4">
                            <textarea placeholder="Message" formControlName="message" class="mb-0"></textarea>
                            <small class="text-danger text-start fs-12"
                            *ngIf="ContactForm.controls['message'].hasError('required') && ContactForm.controls['message'].touched">Please
                            Enter Your Message*</small>
                        </div>
                        <button type="submit" (click)="ContactUs()" [disabled]="ContactForm.invalid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12087.069761554938!2d-74.2175599360452!3d40.767139456514954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c254b5958982c3%3A0xb6ab3931055a2612!2sEast%20Orange%2C%20NJ%2C%20USA!5e0!3m2!1sen!2sbd!4v1581710470843!5m2!1sen!2sbd"
                height="550" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>125-711-811</li>
                        <li>125-668-886</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>Support.gymcenter@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->
<p-toast position="top-right"></p-toast>