<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('assets/img/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Gallery</h2>
                    <div class="bt-option">
                        <a routerLink="home">Home</a>
                        <a href="javascript:void(0)">Pages</a>
                        <span>Gallery</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="gallery-section gallery-page">
    <div class="gallery" id="dynamicGallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" *ngFor="let galleryImage of galleryImages" [style.backgroundImage]="'url(' + galleryImage.image + ')'">
            <a [href]="galleryImage.image" class="thumb-icon image-popup">
                <i class="fa fa-picture-o"></i>
            </a>
        </div>
    </div>
</div>

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>125-711-811</li>
                        <li>125-668-886</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>Support.gymcenter@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->