<section class="block ">

    <div class="w-100 mb-4 ms-3">
        <h4>Users</h4>
    </div>

    <!-- table -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" *ngIf="userlist.length > 0">
                <div class="card border-0">
                    <div class="card-body">
                        <p-table #dt3 [value]="userlist" [rows]="5" [paginator]="userlist.length > 5"
                            [globalFilterFields]="['name','email','mobile_no']" styleClass="p-datatable-gridlines"
                            [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <span class="p-input-icon-left ml-auto border rounded">
                                        <i class="fas fa-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt3.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center">S No</th>
                                    <th class="text-start">Name</th>
                                    <th class="text-start">Mobile Number</th>
                                    <th class="text-start">Email</th>
                                    <!-- <th class="text-center">Action</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-delivery let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td class="text-start">{{delivery.name}}</td>
                                    <td class="text-start">{{delivery.mobile_no}}</td>
                                    <td class="text-start">{{delivery.email}}</td>
                                    <!-- <td class="text-center">
                                        <i class="mx-1 fas fa-trash-alt cursor-pointer" data-bs-toggle="modal"
                                            data-bs-target="#usersdeletemodal"></i>
                                    </td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center" *ngIf="userlist.length < 1">
                <strong>No Data</strong>
            </div>

        </div>
    </div>
</section>