<section class="block ">

    <div class="w-100 mb-4 ms-3">
        <h4>Users</h4>
    </div>

    <!-- table -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" *ngIf="Leads.length > 0">
                <div class="card border-0">
                    <div class="card-body">
                        <p-table #dt3 [value]="Leads" [rows]="5" [paginator]="Leads?.length > 5"
                            [globalFilterFields]="['name','email','mobile_no','plans.plan_name','leadStatus']"
                            [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <span class="p-input-icon-left ml-auto border rounded">
                                        <i class="fa fa-search"></i>
                                        <input class="border-0" pInputText type="text"
                                            (input)="dt3.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Plan</th>
                                    <th>Status</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Leads let-index="rowIndex">
                                <tr>
                                    <td>{{index + 1}}</td>
                                    <td>{{ Leads?.name }}</td>
                                    <td>{{ Leads?.email }}</td>
                                    <td>{{ Leads?.mobile_no }}</td>
                                    <td>{{ Leads?.plans?.plan_name }}</td>
                                    <td>
                                        <select class="form-select" [(ngModel)]="Leads.leadStatus"
                                            (change)="updateLeadStatus(Leads)">
                                            <option value="0">Pending</option>
                                            <option value="2">On Hold</option>
                                            <option value="1">Completed</option>

                                            <!-- <option value="2">Converted</option> -->
                                        </select>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center" *ngIf="Leads.length < 1">
                <strong>No leads are available at the moment</strong>

            </div>

        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>