<section class="login block">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-4">
                <div class="card border-0">
                    <div class="card-header p-3 px-0 mx-3 bg-white text-center">
                        <h4 class="m-0 fw-bold">ADMIN LOGIN</h4>
                    </div>
                    <div class="card-body p-3">
                        <form [formGroup]="adminlogin">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email id"
                                                formControlName="email">
                                        </div>
                                        <div class="mb-2"
                                            *ngIf="adminlogin.controls['email'].hasError('required') && adminlogin.controls['email'].touched">
                                            <small class="text-danger text-start fs-12">Please Enter Your
                                                Email*</small>
                                        </div>
                                        <div class="mb-2"
                                            *ngIf="adminlogin.controls['email'].hasError('pattern') && (adminlogin.controls['email'].touched || adminlogin.controls['email'].dirty)">
                                            <small class="text-danger text-start fs-12">Please Enter Valid Email*
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <div class="input-group mb-3">
                                            <input [type]="password" class="form-control pe-0 " placeholder="********"
                                                formControlName="password">
                                            <span class="input-group-text ps-3 ">
                                                <i class="fa fa-eye-slash cursor-pointer" *ngIf="password == 'password'"
                                                    (click)="password = 'text'"></i>
                                                <i class="fa fa-eye cursor-pointer" *ngIf="password == 'text'"
                                                    (click)="password = 'password'"></i></span>
                                        </div>
                                        <div class="mb-2"
                                            *ngIf="adminlogin.controls['password'].hasError('required') && adminlogin.controls['password'].touched">
                                            <small class="fs-12 text-danger text-start">Please Enter Password*
                                            </small>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <div class="mt-3">
                                        <button class="btn-primary w-100" type="submit" (click)="adminLogin()"
                                            [disabled]="adminlogin.invalid">
                                            Submit</button>
                                    </div>
                                </div>
                                <!-- <div class="col-12 text-center">
                                    <div class="mb-4">
                                        <p class="fs-14">Don't have an account?<a href="javascript:void(0)" class="icon"
                                                routerLink="register"> Sign
                                                up</a> </p>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>