.login {
    background-color: rgb(246, 235, 239);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h4 {
    font-size: 18px;
    font-weight: 500 !important;
    color: var(--secondary-color) !important;
}

.login button {
    background: #47494b !important;
    border-color: #47494b !important;
    border-radius: 15px !important;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.login .card {
    box-shadow: none !important;
}

.btn-primary {
    background: #47494b !important;
    border-color: var(--secondary-color) !important;
    border-radius: 15px !important;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-primary:hover {
    color: #f36100 !important;
    background-color: rgba(75, 73, 172, 0.2) !important;
    border-color: rgba(75, 73, 172, 0) !important;
}

.btn-secondary {
    background-color: #dadada !important;
    border-color: #dadada !important;
    color: var(--secondary-color) !important;
    border-radius: 15px !important;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.login button:hover {
    color: #fff !important;
    background-color: #f36100 !important;
    border-color: rgba(232, 232, 232, 0) !important;
}

 input {
    border-radius: 20px 0 0 20px !important;
}

.card {
    box-shadow: none !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus-visible {
    color: #fff !important;
}